<article class="mx-auto text-center">
  <%= image_tag('awesome.png', class: 'inline-flex items-center', size: '50x50') %>
  <h1 class="mt-4 text-5xl">어썸블로그</h1>

  <h2 class="mt-1 text-xl text-gray-500">개발자들의 최신 뉴스</h2>
  <p class="mt-2 text-md">한국어로 된 좋은 개발 블로그를 모아서 보여줘요.</p>

  <span
    class="mt-8 inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">Sample</span>

  <% @articles.each do |article| %>
    <div class="mt-4">
      <h2 class="text-sm text-blue-500 underline">
        <%= link_to article[:title], article[:url] %>
      </h2>
      <span class="ml-2 text-xs">
        <%= article[:author] %>
      </span>
      <span class="ml-1 text-xs text-gray-500">
        <%= article[:published].to_s.first(10) %>
      </span>
    </div>
    <% end %>
      <div class="mt-6">
        <a href="https://play.google.com/store/apps/details?id=blogs.awesome.android.awesome_blogs_flutter&hl=ko"
          class="download-button">
          <svg class="android" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M420.6 301.9a24 24 0 1 1 24-24 24 24 0 0 1 -24 24m-265.1 0a24 24 0 1 1 24-24 24 24 0 0 1 -24 24m273.7-144.5 47.9-83a10 10 0 1 0 -17.3-10h0l-48.5 84.1a301.3 301.3 0 0 0 -246.6 0L116.2 64.5a10 10 0 1 0 -17.3 10h0l47.9 83C64.5 202.2 8.2 285.6 0 384H576c-8.2-98.5-64.5-181.8-146.9-226.6" />
          </svg>
          <div class="button-text">안드로이드 앱</div>
        </a>
        <a href="https://apps.apple.com/kr/app/%EC%96%B4%EC%8D%B8-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EA%B0%9C%EB%B0%9C%EC%9E%90-%EC%BD%94%EB%94%A9-%EB%89%B4%EC%8A%A4/id1557176134"
          class="download-button">
          <svg class="ios" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z" />
          </svg>
          <div class="button-text">아이폰 앱</div>
        </a>
        <a href="https://apps.microsoft.com/detail/9nsrpvll4cg9?hl=ko-kr&gl=KR"
          class="download-button">
          <svg class="windows" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z" />
          </svg>
          <div class="button-text">윈도우 앱</div>
        </a>
      </div>
</article>